
body {
  margin: 0;
  background-color: #f2f2f2;
  background: radial-gradient(#fff 3px, transparent 4px), radial-gradient(#fff 3px, transparent 4px), linear-gradient(#f2f2f2 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #fff 75px, #fff 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #f2f2f2 76px, #fff 77px, transparent 78px, transparent 109px), #f2f2f2;
background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  font-family: 'Raleway', sans-serif;
}

header {
  h1 {
    text-align: center;
    margin:0;
    padding: 30px 0 20px;
  }
}

#page {
margin: 0 auto;
}

#content {
  width: 1000px;
  margin: 0 auto;
  font-size: .95em;
  line-height: 1.2em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  #logo {
    width: 80px;
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  ul a {
    flex: auto;
    margin: 5px 25px;
    padding: 2px;
    li.active {
      font-weight: bold;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}

p {
   text-align: justify;
}

header, nav {
  width: 100%;
  background: #fff;
}

.infobox {
  h2 {
    text-align: center;
  }
  background: #fff;
  padding: 0 20px;
  margin: 30px 0;
}

#book {
  $gap: 15px;
  display: flex;
  margin: 110px 0-$gap 30px;
  > * {
    background: #fff;
    margin: 0 $gap; 
    padding: 20px;
  }
  > div {
    flex: 75 75 0;
  }
  > p {
    flex: 25 25 0;
  }
}

#yoga-types-info {
  $gap: 15px;
  display: flex;
  margin: 30px 0-$gap;
  > div {
    flex: 1;
    margin: 0 $gap; 
  }
}

#pranayama, #meditation {
  padding: 1px 20px;
}

@media screen and (max-width: 1280px) {
  #content {
    width: 75%;
  }
  /*nav {
    padding: 5px
  }
  nav ul  {
    flex-direction: column
  }
  img.small {
    display: inline;
  }
  img.large {
    display: none;
  }*/
}

/*@media screen and (max-width: 750px) {
  .accommodation {
    flex-direction: column;
    &:nth-child(even) :nth-child(1) {
      order: 0;
    }
    div:nth-child(1) {
      margin: 0 auto !important;
    }
  }
}
*/