<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/assets/logo.svg">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="Faites du Yoga avec Joe">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <link rel="stylesheet" href="https://use.typekit.net/cqf7yal.css">
    <script type="text/javascript">
      function datetimeToFrenchDatetimeAndDuration(start, end) {
        const durationMs = end - start
        const durationHuman = `${parseInt(durationMs/(3600*1000))}h${String(parseInt(durationMs/(60*1000))%60).padStart(2, '0')}`
        const monthNames = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"]
        const dayNames = ["lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi", "dimanche"]
        const startHuman = `${dayNames[start.getDay() - 1]} ${start.getDate()} ${monthNames[start.getMonth()]} à ${start.getHours()}h${String(start.getMinutes()).padStart(2, '0')}`
        return {durationHuman, startHuman}
      }
      function animateWaitElement(waitEl, button) {
        const oldButtonText = button.innerText
        button.disabled = true
        const dotsSetInterval = setInterval(() => {
          if (waitEl.innerHTML.length > 3 ) 
              waitEl.innerHTML = ""
          else 
              waitEl.innerHTML += "."
        }, 250)
        return () => {
          clearInterval(dotsSetInterval)
          waitEl.innerHTML = ""
          button.innerText = oldButtonText
        }
      }
    </script>
  </head>
  <body>
  <div id="page">
    <a href="https://www.instagram.com/ambrosio_joe/" target="_blank">
      <img id="instagram-logo" src="{{ '/assets/instagram.svg' | relative_url }}"/>
    </a>
    <header>
      <h1><span id="name">JOE AMBROSIO</span><br/>YOGA</h1>
    </header>
    <nav>
      <img id="logo" src="{{ '/assets/logo.svg' | relative_url }}"/>
      <ul>
        <a href="/"><li {% if page.url == "/" %}class="active"{% endif %}>HOME</li></a>
        <a href="https://www.coco-et-galago.fr/yoga" target="_blank"><li>BLOG</li></a>
        <a href="/a-propos"><li {% if page.url != "/" %}class="active"{% endif %}>A PROPOS</li></a>
      </ul>
    </nav>
    <div id="content">
      {{ content}}
    </div>
    <footer>© Joe Ambrosio</footer>
  </div>
  </body>
</html>
